.bordecontenedor {
    border-radius: 60px;
    width: 90%;
    margin: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #763D80;
    color: #522B59;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo {
    font-size: 72px;
    margin-bottom: 20px;
}

.fondorosa {
    background-color: rgb(247, 232, 249);
}

.boxInput {

    display: grid;
    grid-template-columns: .2fr 1fr;
    gap: 1rem;
}

.entrada {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #522B59;
    outline: none;
}

.campofoto {

    display: flex;
    align-items: center;
    width: 100%;
}

.boxPhoto {

    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
    background-size: cover;

}

.boxPhoto img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 100%;

}

#upload {
    display: none;
    background-color: black;
}

.boton {
    background-color: #763D80;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
}

.boton:hover {
    cursor: pointer;
}

.eliminar {
    background-color: black;
}

.seleccion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.checkbox {
    display: none;
}

.checklabel {
    border: 2px solid #522B59;
    background-color: white;
    color: #522B59;
    font-weight: bold;
    font-size: large;
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    /* user-select: none; */
    margin: 30px;
    text-align: center;
}

input[type="checkbox"]:checked+label {
    border: 2px solid #763D80;
    background-color: #763D80;
    color: white;
}

.btn2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boxBtn {
    display: flex;
    flex-direction: row;

}
.boxAgregarCita {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    border: 1px solid #522B59;
    padding: 30px;
    border-radius: 10px;

}

.title {
    margin-bottom: 10px;
}



.boxInputAgregarCita {
    display: flex;
    flex-direction: column;



}

.picker {

    margin-bottom: 20px;
    height: 60px;
    border: 1px solid #522B59;
    outline: none;
    padding: 0px 20px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.picker:disabled {
    background-color: grey;
}

.button {
    background-color: #763D80;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.button:hover {
    background-color: #522B59;
}

.citas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    margin-left: 10px;
}

.cita {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 1rem;

}

.titleList {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 1rem;

}

.btnDelete {
    background-color: red;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.error {
    background-color: rgba(255, 0, 0, 0.294);
    width: 300px;
    align-self: center;
    text-align: center;
    border: 1px solid red;
    color: red;
    margin-top: 10px;
    padding: 5px;
}

@media (max-width:768px) {
    .boxInput {
        grid-template-columns: 1fr;

    }

    .titulo {
        font-size: 24px;
    }

    .bordecontenedor {
        font-size: 16px;
    }

    .seleccion {
        grid-template-columns: 1fr;
    }

    .campofoto {
        flex-direction: column;
    }



} 

   

@media (max-width:768px) {
    .title{
        font-size: 24px;
    }
    .titleList{
        grid-template-columns: 1fr 120px;
    }
    .cita {
        display: grid;
        grid-template-columns: 1fr 120px;
        gap: 1rem;
    }
    
    
}
@media (max-width:380px) {
    .boxAgregarCita{
        flex-direction: column;
        padding: 10px;
    }
    .button{
        margin-bottom: 20px;
    }
}