.container{
    display: flex;
    background-color: white;
    width: 100%;
    font-size: 24px;
    color: #522B59;
    flex-direction: column;
}
.pagesHome {
    /* background-color: red; */
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.principalPage{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../../img/shutterstock_1739543105.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-color: #967c9b; */
    color: white;
    align-items: flex-start;
    position: relative;
    
}
.principalPage::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color:  black;
    position: absolute;
    opacity: 0.6; 
}

.button {
    background-color: #763D80;
    border: none;
    color: white;
    height: 58px;
    width: 215px;
    border-radius: 100px;
    margin-top: 50px;
    font-size: 21px;
}

.button:hover {
    cursor: pointer;
    background-color: #522B59;
}
.principalButton {
    margin-top: 52px;
    position: relative;
}
.leftSize{
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 131px; 
}
.leftSize h1{
    height: 432px;
    width: 582px;
    font-size: 72px;
    font-weight: bolder;
    /* color: #522B59; */
}

.container h2{
    
    font-size: 36px;
}
.principalPage img{
    position: relative;
    margin-top: 155px;
    margin-right: 160px;
}

.box{
    margin-top: 30px;
    border: 3px solid #763D80;
    width: 1380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;

}
.whatIs {
    
    height: 328px;
    padding: 30px 39px 24px 39px ;
      
}
.whatIs h2{
    margin-bottom: 26px;
}

.boxArea{
    
    height: 482px;
    padding: 30px 63px 29px 62px;
}
.areas{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 50px; */
    margin-top: 34px;
    grid-gap: 2rem;
    text-align: center;
    
    
}
.area{
    display:flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 82px;
    width: 365px;
    background-color: #F7E8F9;
    border-radius: 70px;
    font-weight: 600;
    font-size: 24px;
}
.area:hover{
    cursor: default;
}


.function{
    height: 411px;
    padding: 11px 40px 10px 40px ;
    align-items: center;
    justify-content: center;
    
    
}
.pasos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    padding-left: 40px;
    
   
}
.paso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
   
    text-align: center;
    
   
}
.paso1{
    width: 310px;
}

.boxImg{
    height: 120px;
    width: 120px;
    background-color: #522B59;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    
}

.function .button{
    margin-top: 0;
    
    
}
.costo{
    height: 397px;
    padding: 12px 0px 30px 0px;
}
.boxCosto{
    height: 196px;
    width: 677px;
    background-color: #F7E8F9;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.boxCosto h1{
    font-size: 64px;
}
.individual{
    font-weight: 500;
}
.costo .button{
    margin-top: 31px;
}
.withArrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.withArrow img{
    height: 95px;
    width: 67px;
}

.boxNuestrosPsico {
    height: 411px;
    display: flex;
    padding: 11px 109px 43px 186px ;
}
.psicologo{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: #F7E8F9;
    border-radius: 70px;
    padding: 25px 30px 25px 43px;
    height: 287px;
    width: 1008px;
    margin-top: 16px;
}

.boxPhoto {
    
    height: 201px;
    width: 201px;
    border-radius: 100px;
    /* background-color: red; */
    margin-right: 19px;
    background-size: cover;
}
.boxPhoto img {
    height: 100%;
    width: 100%;
    flex: 1;
}

.pais img {
    width: 100%;
    height: 100%;
}
.infoPsico{
    
    width: 557px;
    
}
.infoPsico button{
    margin-top: 12px;
}
.pais{
    width: 50px;
    height: 50px;
    /* background-color: aqua; */
    border-radius: 100px;
    position:relative;  
    align-self: flex-start;
    margin-left: auto;
    background-size: cover;
}


.boxClientesSatisfechos{
    height: 397px;
    padding-top: 12px ;
    
}
.boxClientesSatisfechos button{
    margin-top: 16px;
}

.mensajeCliente{
    background-color: #F7E8F9;
    width: 1169px;
    height: 221px;
    padding: 39px 70px 30px 67px;
    border-radius: 70px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;
}
.firmaCliente {

    position: relative;
    display: block;
    bottom: 0;
}

.finPagina{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.psicoWork{
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.psicoWork .button{
    margin-top: 0px;
}
.footer{
    
    height: 91px;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction:  row;
    align-items: flex-end;
    justify-content: space-between;
}

.footer p{
    width: 414px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.logoSocialNetwork{
    margin-right: 27px;
}
.logoSocialNetwork img{
    margin-left: 21px;
    margin-bottom: 40px;
}
.logoSocialNetwork img:hover{
    cursor: pointer;
}