.container {
    margin-top: 3%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #522B59;
}

.img {
    height: 40px;
    padding: 2%;
}