.container{
    border: solid 1px #522B59;
    display: flex;
    color: #522B59;
    padding: 20px;
    
    border-radius: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    background-color: white;
    width: 100%;
    /* height:200px; */
    overflow-y: hidden;

   
}

.ptitle{
    font-weight: 600;
}

.ratingData{
    display: flex;
    align-items: center;
    
    
}

.ratingData p{
    margin-right: 5px;
}
.aux{
    
    padding: 0 10px;
    width: 80%;
    height: 100%;

    
    
}
.psico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    
    
}
.boxInfo{
    
    text-align:start;
    display: flex;
    flex-direction: column;
    
}
.pais{
    display: flex;
    
   
}
.pais p{
    margin-right: 5px;
}
.boxImg {
    
   display: inline-block;
   float: left;
   
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
    background-size: cover;
    
}
.description {
    height: 60px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
    
}

.boxImg img {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    border-radius: 100%;
    
}
.link{
    text-decoration: none;
    color: #522B59;
    
}


.button{
    background-color: #763D80;
    border: none;
    color: white;
    font-weight: 600;
    width: 15%;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
    
}
.button:hover{
    cursor: pointer;
    background-color: #522B59;
}
@media (max-width:1024px) {
    /* .boxImg{
        width: 80px;
        height: 80px;
    } */
}

@media (max-width:540px) {
    .container{
        padding: 5px;
        font-size: 10px;
    }

    .ratingData img{
        display: none;
    }
    .boxImg{
        height: 40px;
        width: 40px;
        margin-top: 10px;
        
    }
    .aux{
        /* height: 100px; */
    }
    .psico{
        font-size: 12px;
    }
    .container{
        border-radius: 30px;
        /* height: 120px; */
    }
    .button{
        width: 50px;
        height: 30px;
        
        font-size: 10px;
        margin-right: 10px;
    }
    .link {
         font-size: 12px;
        
         
    }
    
    /* .description {
        height: 40px;
        width: 160px;
        
    } */
    
}

