.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    
    
}
.title{
    font-size: 36px;
}
.boxAdmin {
    background-color: #F7E8F9;
    width: 90%;
    /* height: 625px; */
   
    
    border-radius: 70px;
    margin-top: 68px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* padding-top: 44px; */
    /* overflow-y: scroll; */
  
}

.firstText{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.boxTitle{
    
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: #522B59;
    
}
.input{
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    width: 200px;
    color: #522B59;
    
}
.input::placeholder{
    color: #522B59;
}

.list {
    display: grid;
    /* overflow: hidden; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
   
    
}