.container{
    border: solid 0.063rem #522B59;
    display: flex;
    color: #522B59;
    height: 5.625rem;
    width: 100%;
    border-radius: 4.375rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
    background-color: white;
    margin-bottom: 1.875rem;
    
   
}
.psico{
    display: flex;
    flex-direction: row;
}
.boxImg {
    background-size: cover;
    height: 4.688rem;
    width: 4.688rem;
    position: relative;
    margin-right: 26px;
}


.boxImg img {
    width: 100%;
    height: 100%;
    position: relative;

}
.link{
    text-decoration: none;
    color: #522B59;
}
.button{
    background-color: #763D80;
    border: none;
    color: white;
    width: 10.625rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    font-weight: 600;
    font-size: 1.125rem;
}
.button .link{
    color:white
}
.button:hover{
    cursor: pointer;
    background-color: #522B59;
}
.boxInfo{
    font-size: 1.313rem;
}
.title{
    font-size: 1.313rem;
    font-weight: 600; 
}

@media(max-width:48rem){
    .container{
        border: solid 0.063rem #522B59;
        display: flex;
        color: #522B59;
        height: 5.125rem;
        width: 100%;
        border-radius: 4.375rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.25rem;
        background-color: white;
        margin-bottom: 1.25rem;
        
       
    }
    .psico{
        display: flex;
        flex-direction: row;
    }
    .boxImg {
        background-size: cover;
        height: 3.75rem;
        width: 3.75em;
        position: relative;
        margin-right: 1.25rem;
    }
    
    
    .boxImg img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .link{
        text-decoration: none;
        color: #522B59;
    }
    .button{
        background-color: #763D80;
        border: none;
        color: white;
        width: 8.125rem;
        height: 3rem;
        border-radius: 1.875rem;
        font-weight: 600;
        font-size: 0.875rem;

    }
    .button .link{
        color:white
    }
    .button:hover{
        cursor: pointer;
        background-color: #522B59;
    }
    .boxInfo{
        font-size: 1.313rem;
    }
    .title{
        font-size: 1.313rem;
        font-weight: 600; 
    }
}

@media(max-width:26.75rem){
    .container{
        border: solid 0.063rem #522B59;
        display: flex;
        color: #522B59;
        height: 3.75rem;
        width: 100%;
        border-radius: 4.375rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.625rem;
        background-color: white;
        margin-bottom: 1.25rem;
        
       
    }
    .psico{
        display: flex;
        flex-direction: row;
    }
    .boxImg {
        background-size: cover;
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
        margin-right: 0.625rem;
    }
    
    
    .boxImg img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .link{
        text-decoration: none;
        color: #522B59;
    }
    .button{
        background-color: #763D80;
        border: none;
        color: white;
        width: 5rem;
        height: 2.5rem;
        border-radius: 1.875rem;
        font-weight: 600;
        font-size: 0.625rem;

    }
    .button .link{
        color:white
    }
    .button:hover{
        cursor: pointer;
        background-color: #522B59;
    }
    .boxInfo{
        font-size: 0.75rem;
    }
    .title{
        font-size: 0.75rem; 
        font-weight: 600;
    }
}