
.boxcontenedor{
    background-color: #F7E8F9;
    width: 90%;
    color: #522B59;
    border-radius: 30px;
    padding: 30px;
}
.firstBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.totales{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
