* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  body {
    width: 100%;
    position: relative;
  }

.registerSecc{  
    display: flex;
    justify-content: center;
}

.container{    
    width: 900px;
    height: 525px;
    top: 126px;
    margin-top: 125px;

    background: #F7E8F9;
    border-radius: 35px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 716px;
    height: 188px;
    top: 126px;

    background:white;
    border: 1px solid #763d80;
    border-radius: 35px;
    margin-bottom: 20px;
}

.Up{
    border-radius: 24px;
    border-color: #763d80;
    padding-left: 16px;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 649px;
    height: 50px;
}

.tittle{
    font-size: 48px;
    color: #522B59;
    margin-bottom: 20px;

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nextText{
    font-size: 16px;
    color: #522B59;
    margin-bottom: 20px;
}

.nextText2{
    font-size: 13px;
    color: #522B59;
    margin-bottom: 20px;
}

.input{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue{
    margin-top: 15px;
    font-size: 18px;
    border-radius: 24px;
    width: 215px;
    height: 50px;
    background: #763D80;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
}

input[type="file"] {
    display: none;
}

.customfileupload {
    border-radius: 24px;
    background: #763D80;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    color: white;
}