.container{
    margin-top: 3.125rem;
    align-items: center;
    justify-content: center;

}

.boxTitle {
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: left;
    color: #522B59;
    margin-bottom: 1.875rem;
}

.title  {
    margin-left: 14.063rem;
    margin-bottom: 1.25rem;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    color: #522B59;
}

.box {
    margin-left:8.313rem;
    width: 73.375rem;
    height: 37.5rem;

    background: #F7E8F9;
    border-radius: 4.375rem;
    padding: 1.875rem 5.625rem;

}

.addButton {
    align-content: center;
    vertical-align: middle;
    background-color: #763D80;
    color: white;
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 2.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    border: none;


}

.addButton:hover {
    cursor: pointer;
    background-color: #522B59;

}

.citasProximas {
    display: flex;
    align-items: center;
}

.sort{
    display: flex;
    justify-content: space-between;
}
.sortText{
    font-style: normal;
    font-weight: normal;
    font-size: 1.313rem;
    line-height: 1.875rem;
    margin-right: 1.875rem;
    text-align: center;
    color: #522B59;
}

.sortText:hover{
    cursor: pointer;
    text-decoration-line: underline;

}