
.nav{
    background-color: #522B59;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    
}
.rightSize{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1.875rem;
    list-style: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}

.img{
    margin-left: 1.875rem;
}
.img:hover{
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin-left: 2.563rem;
    margin-top: 0.313rem;
}
.link:hover{
    color: white;
    text-decoration: underline;
   
}
.menuVector{
    display: none;
}
.button{
    width: 10.875rem;
    height: 2.563rem;
    
    border: none;
    outline: none;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    font-weight:600;
    color: white;
    background-color: #763D80;
    margin-left: 2.563rem;
}
.button:hover{
    cursor: pointer;
    border: solid 1px white;
}
.menuLog {
    width: 193px;
    right: 0;
    float: right;
    position: absolute;
    
    z-index: 1;
    margin-right: 107px;
}
.menuLog button:hover{
    cursor: pointer;
    background-color: #763D80;

}
.menuLog li {
    height: 60px;
    width: 300px;
    background-color: #3B1F40;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuLog li:hover {
    background-color: #763D80;
}

.linkMobile {
    text-decoration: none;
    color: white;
    font-weight: 600;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonMobile {
    background-color: #3B1F40;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    font-size: 21px;
    font-weight: 600;
}

.buttonMobile:hover {
    color: red;
}
.boxImg {

    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
    background-size: cover;
}

.boxImg img {
    width: 100%;
    height: 100%;
    position: relative;
}
.rightSize p {
    margin-right: 17px;
    cursor:default;
}
.rightSize p:hover{
    cursor: pointer;
}
.rightSize:hover{
    cursor: pointer;
}

@media(max-width: 1024px){
    .nav {
        width: 100%;
        
    }

    .rightSize {
        width: 85%;
        margin-right: 0px;
        
        margin-right: 20px;  
    }
    .rightSize1{
        justify-content: flex-end;
        
    }

    .link {
        margin-left: 0;
        margin-top: 0.313rem;
        font-size: 18px;
    }


    .button {
        width: 9rem;
        height: 2.563rem;
        font-size: 1rem;
        margin-left: 0;
    }

}




@media (max-width:540px) {
   .nav {
       height: 3rem;
       font-size: 0.5rem;
   }

   .img {
       width: 2.063rem;
       height: 1.563rem;
       margin-left:0.625rem;
   }

   .link {
       display: none;
       margin-top: 0.313rem;
   }


   .button {
       width: 3.75rem;
       height: 1.313rem;
       font-size: 0.5rem;
       display: none;


   }
   .menuMobile{
        width: 193px;
        right: 0;
        position:absolute;
        z-index: 1;
        
   }
   .menuMobile li{
         height: 60px;
         width: 193px;
         background-color: #522B59;
         font-size: 21px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

   }
   .menuMobile li:hover{
       background-color: #763D80;
   }
   .linkMobile{
       text-decoration: none;
       color: white;
       font-weight: 600;
       height: 100%;
       width: 100%;
       display: flex;
        justify-content: center;
        align-items: center;
        
       /* padding: 15px 40px; */
       
   }
   .menuVector{
       display: block;
       margin-right: 15px;
       
   }
   .rightSize{
       margin-right: 15px;
       justify-content: flex-end;
       font-size: 16px;
       width: 120px;
   }
   .rightSize p{
       margin-right: 10px;
   }
   .rightSize img{
       width: 20px;
       height: 20px;
   }
   .boxImg {
       width: 30px;
       height: 30px;
       margin-right: 10px;
   }

   .boxImg img {
       width: 100%;
       height: 100%;
       position: relative;
   }
   
   

   

}