.container{
    border: solid 1px #522B59;
    display: flex;
    color: #522B59;
    border-radius: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
    padding: 1px;
}

.patientInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    
}

.boxInfo {
    width: 80%;
    text-align: start;
}

.boxImg {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px; 
    background-size: cover;
}

.boxImg img {
    width: 100%;
    height: 100%;
    position: relative;
}

.link{
    text-decoration: none;
    color: #522B59;
    margin-left: 20px;
}

.button{
    background-color: #763D80;
    border: none;
    color: white;
    font-weight: 500;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    margin-top: 14px;
    margin-left: 14px;
}

.button:hover{
    cursor: pointer;
    background-color: #522B59;
}

@media (max-width:540px) {

    .boxImg{
        height: 60px;
        width: 60px;
    }

    .psico{
        font-size: 12px;
    }

    .container{
        border-radius: 30px;
    }

    .button{
        width: 80px;
        height: 40px;
        font-size: 12px;
        margin-right: 10px;
        margin-bottom: 11px;
    }

    .link {
         font-size: 12px;
    }
    
}
