.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #522B59;
    font-size: 24px;
}

.box {
    background-color: #F7E8F9;
    width: 90%;
    border-radius: 70px;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 56px;
}

.firstBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.title {
    text-align: left;
    align-self: start;
    font-weight: bolder;
    font-size: 36;
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.boxImg {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;

    background-size: cover;
}

.boxImg img {
    width: 100%;
    height: 100%;
    position: relative;
}

.name {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.boxAtribute {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;

}

.atribute {
    display: grid;
    grid-template-columns: 280px .5fr;
    gap: 1rem;
}

.atribute p {
    margin-left: 15px;
    width: 300px;
}

.tag {
    text-align: right;
}

.especialidades {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 30px;

}

.especialidad {
    background-color: #763D80;

    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 70px;

}

.button {
    background-color: #763D80;
    font-size: 18px;
    width: 130px;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 7px 20px 10px 20px;
}

.button:hover {
    background-color: #522B59;
    cursor: pointer;
}

.textAdvert {
    font-size: 16px;
    margin-top: 28px;

}

.incidencias {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.innerContainer {
    width: 97%;
    height: 60px;
    border: solid 1px #522B59;
    display: flex;
    color: #522B59;
    border-radius: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
}

.input {
    border: none;
}

.addIncidencia {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.titleInput{
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #522B59;
    font-size: 18px;
    color: #522B59;
    border-radius: 20px;
}

.textArea{
    height: 242px;
    width: 100%;
    padding: 10px;
    border: 1px solid #522B59;
    font-size: 18px;
    color: #522B59;
    border-radius: 20px;
}

.iAtribute {
    display: grid;
    grid-template-columns: 270px 50% 50%;
    gap: 1rem;
}