* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  body {
    width: 100%;
    position: relative;
  }

.container{    
    width: 65%;
    padding: 50px;
    margin-top: 50px;

    background: #F7E8F9;
    border-radius: 35px;
}

.registerSecc{  
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.tittle{
    font-size: 48px;
    color: #522B59;
    margin-bottom: 20px;

}

.nextText{
    font-size: 18px;
    color: #522B59;
    margin-bottom: 15px;
}

.socialButtons{
    width: 50%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}

.img1{
    background-image: url(../../img/GoogleIcon.png);
    background-color: #F7E8F9;
    width: 57px;
    height: 58px;
    border: none;
    cursor: pointer;
}

.img2{
    background-image: url(../../img/FacebookIcon.png);
    background-color: #F7E8F9;
    width: 66px;
    height: 66px;
    border: none;
    cursor: pointer;
}

.img3{
    background-image: url(../../img/TwitterIcon.png);
    background-color: #F7E8F9;
    width: 63px;
    height: 51px;
    border: none;
    cursor: pointer;
}

.input2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loginNext{
    font-size: 22px;
}

.formRegis{
    
    border-radius: 24px;
    border-color: #763d80;
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 75%;
    height: 50px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.continue{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 24px;
    width: 25%;
    height: 50px;
    background: #763D80;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
}
.continue:hover {
    background: #522B59;

}
.alert{
    font-size: 18px;
    color: red;
}

@media(max-width:770px){
    .container{
        width: 90%;
        padding: 0px;
        
    }
}

@media (max-width:540px) {

    .container{
        width: 90%;
        padding: 0px;
        
    }

    .tittle{
        font-size: 24px;
        color: #522B59;
    
    }

    .formRegis{
        font-size: 12px;
        height: 35px;

    }

    .nextText{
        font-size: 12px;
    }

    #loginNext{
        font-size: 12px;
    }

    .continue{
        font-size: 12px;
        width: 40%;

    }
    
    .socialButtons{
        width: 100%;
        height: 50px;
    }

    .img1{
        background-image: url(../../img/GoogleIconSmol.png);
        width: 40px;
        height: 41px;
    }
    
    .img2{
        background-image: url(../../img/FacebookIconSmol.png);
        width: 40px;
        height: 40px;
        
    }
    
    .img3{
        background-image: url(../../img/TwitterIconSmol.png);
        width: 40px;
        height: 40px;
    }

    .alert{
        width: 80%;
        font-size: 12px;
            
    }
}