.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.title{
    font-size: 48px;
}

.boxPsico {
    background-color: #F7E8F9;
    width: 90%;
    /* height: 625px; */
   
    
    border-radius: 70px;
    margin-top: 68px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* padding-top: 44px; */
    /* overflow-y: scroll; */
  
}

.firstText{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.boxTitle{
    
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: #522B59;
    
}
.input{
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    width: 200px;
    color: #522B59;
    
}
.input::placeholder{
    color: #522B59;
}

.boxList{
    
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 35px;
    
    
}
.boxList ul{
    list-style: none;
    margin-right: 30px;
    font-size: 24px;
}



.list {
    display: grid;
    /* overflow: hidden; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    
   
}
.select{
    background: none;
    border: none;
    outline: none;
    color: #522B59;
   margin-right: 20px;  
}
.select option:target{
    background-color: red;
}
@media (max-width:768px) {
    .list{
        grid-template-columns: 1fr;
    }
    .title{
        font-size: 50px;
    }
}


@media (max-width:540px) {
    .boxPsico{
        margin-top: 30px;
    }
    .list{
        grid-template-columns: 1fr;
    }
    .boxList ul {
        list-style: none;
        margin-right: 30px;
        font-size: 12px;
    }
    .boxPsico{
        border-radius: 30px;
    }


    .boxTitle {

        font-size: 12px;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: #522B59;
        
    }
    .boxTitle input{
        align-self: flex-start;
    }
    .title{
        font-size: 32px;
    }
    .boxTitle .input{
        margin-top: 10px;
    }
    .boxTitle .input::placeholder{
        font-size: 16px;
    }


}
@media (max-width:320px) {
    .boxList .select{
        
        font-size: 10px;
    }
}