* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  body {
    width: 100%;
    position: relative;
  }

.registerSecc{  
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{    
    width: 65%;
    padding: 50px;
    margin-top: 40px;

    background: #F7E8F9;
    border-radius: 35px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.tittle{
    font-size: 48px;
    color: #522B59;
    margin-bottom: 60px;

}

.input{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRegis{
    border-radius: 24px;
    border-color: #763d80;
    padding-left: 16px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 75%;
    height: 50px;
}

.continue{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 24px;
    width: 25%;
    height: 50px;
    background: #763D80;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
}

.formPersonal span{
    margin-bottom: 20px;
}
  
.formPersonal .labelRol{

    font-size: 30px;
    padding: 12% 75px;
    border-radius: 20px;
    border: 2px solid #ccc;
  
}
  
.boxRol:checked + label{
    background: #763D80;
    color: white;
    border: none;
}


.boxRol{
    display: none;
}

.formPersonal2 span{
    margin-bottom: 20px;
}

.formPersonal2 .labelGender{

    font-size: 19px;
    padding-right: 30px;
    padding-left: 15px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #763D80;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.alert{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: red;
    margin-bottom: 15px;
}

#errorR{
    margin-top: 90px;
}

#errorG{
    margin-top: 10px;
}

.data{
    margin-top: 10px;
}

.genderElection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}

@media(max-width:770px){
    .container{
        width: 90%;
        padding: 0px;
        
    }

    .formPersonal .labelRol{
        padding: 12% 50px;

    }
}

@media (max-width:540px) {

    .container{
        width: 90%;
        padding: 0%;
    }

    .tittle{
        font-size: 24px;
    
    }

    .formPersonal .labelRol{
        font-size: 16px;
        padding: 12% 40px;

    }

    .formRegis{
        font-size: 15px;
        height: 35px;

    }

    .nextText{
        font-size: 12px;
    }

    #loginNext{
        font-size: 12px;
    }

    .continue{
        font-size: 12px;
        width: 40%;
        height: 35px;

    }

    .alert{
        width: 100%;
        font-size: 12px;
            
    }

    .formPersonal2 .labelGender{

        font-size: 12px;
        padding-right: 10px;
    }
}